dist: trusty
sudo: false
language: php

cache:
  directories:
    - $HOME/.composer/cache

env:
  global:
    - COMPOSER_ARGS="--no-interaction"
    - MANUAL_UITEST_TRIGGER_COMMIT="Test my build"

deploy:
  provider: releases
  github_token: ${GITHUB_TOKEN}
  api_key: ${GITHUB_TOKEN}
  file: target/wirecard-paymentSDK-php-$TRAVIS_TAG.zip
  skip_cleanup: true
  on:
    repo: wirecard/paymentSDK-php
    tags: true

jobs:
  allow_failures:
    - stage: acceptance-test
      env:
        - GATEWAY=API-TEST
        - ALLOW_FAIL=1
    - stage: acceptance-test
      env:
        - GATEWAY=API-WDCEE-TEST
        - ALLOW_FAIL=1
  include:
    - stage: Generate tags
      php: 7.3
      if: branch = master AND type != pull_request
      script: bash .bin/generate-tag.sh

    - stage: Generate release package
      if: tag IS present
      php: 7.3
      script: skip
      before_deploy:
        - bash .bin/generate-release-package.sh $TRAVIS_TAG
        - ls -lah target

    - &acceptance-test
      stage: acceptance-test
      # this stage will be triggered on Pull request and run ui tests
      if: type = pull_request OR commit_message =~ env(MANUAL_UITEST_TRIGGER_COMMIT)
      php: 7.2
      env: GATEWAY=API-TEST
      install:
        - travis_retry composer require --dev $COMPOSER_ARGS codeception/codeception:3.0.1
        - travis_retry composer install $COMPOSER_ARGS
        - composer show
      script: bash .bin/run-ui-tests.sh
      after_success:
        - bash .bin/upload-logs-and-notify.sh
      after_failure:
        - bash .bin/output-failed-logs.sh
        - bash .bin/upload-logs-and-notify.sh fail
    - <<: *acceptance-test
      # this stage will be triggered on timely basis and run ui tests
      if: type = cron
      env:
        - GATEWAY=API-TEST
        - ALLOW_FAIL=1
    - <<: *acceptance-test
      # this stage will be triggered on timely basis and run ui tests
      if: type = cron
      env:
        - GATEWAY=API-WDCEE-TEST
        - ALLOW_FAIL=1

notifications:
  email: false
  slack:
    rooms:
      secure: YI7sUrfMyKyJD60kElGkO7yBDkGEh+069yS8bFAIDUST7s48J+dDP/r2G9dN9oQwhs9hvNjpNytpZDPys838T+Z0mNtFZ9Wu022hV3MpbKUuMl7L9P0MQQmxjg4bKyKK3Hl9tPrZ3UsKRlwIUmRGGYQ7cjs4zumorqs19YsB3X+WnnxAmmYB3kHQYfNKgVnmcG2QHJyx5KaLZ0EsWynSHXkYb8bVCtdlbQFNnpChvGHPprZrHAszLCYnlU7AEZGdbuk17oIfXO9Wjuu1GV8iJ2VgKkTCzW4FBC5eHJyZezojPFUm1I5tvdihRZuyBekVGOF23J6pvHLqPx77clT+/Vn6T+UMDuh1INZ0LKt4UOU42oEDKGblWZx2VYWcHwfEK+ckJWZkT9EBfg/CMenJly2tbtBj6++XNvxgGEDn6XqKIEatcb7X/aiy4f8BPXa3/pzgZAlvzZbGGqHFNZPAlgcXBBXgbaC7VvMhvi6Z5AG5ylKzPS5GCD95ozPC+cGv0234TBJus5oZck4qNiT53IUQ7Ta+OGVB0Mea105VAoQI0I7YcgaqW6c4h2YTmnuuQsIzAwPOrJ5TAinj8Z8mZ9C11tEcNF3Pgy1tOoG/YLurhOJm7v1ebotRb/DIeSHU8RfNatnDSSky4YS6Y8k2pQthdC9m7m2f2mJYuGdLjlM=
    template:
      - "%{repository}#%{build_number} (%{branch} : %{author}): %{message}"
      - "Change view : %{compare_url}"
      - "Build details : %{build_url}"
    on_success: change
    on_failure: change
